.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 456px;
    height: 900.5px;
    background: #fff;
    padding-bottom: 30px;
    top: 0;
    margin-right: 0;

}

.full-height-image {
    position: fixed;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 984px;
    height: 900px;
    z-index: -1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
    width: 360px;
    margin-top: 150px;

    font-weight: bold;
    font-size: 20px;

}

.text {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    margin-top: 50px;
    
    margin-left: 50px;
}

.text1 {

    margin-top: 50px;
    margin-left: 50px;

}

.text2 {
    margin-left: 50px;

}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 360px;
    height: 48px;
    background: #eaeaea;
    border-radius: 6px;

}

.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #007AFF;
    font-size: 18px;

}

.submit-container {
    display: flex;
    gap: 15px;
    margin: 30px auto;

}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 40px;
    color: #fff;
    background: #007AFF;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}

.account {
    padding-left: 62px;
    margin-top: 27px;
    color: #0f0d0d;
    font-size: 18px;
    margin-Top: -10px
}

.account span {
    color: #007AFF;
    cursor: pointer;
}